
$main-color: #111111;
$text-color: #0CEC00;

header
{
  position: absolute;
  top: 18px;
  left: 30px;
  font-size: 120%;
  color: $text-color;
  font-family: Arial, Helvetica, sans-serif;
}

main
{
  width: 100vw;
  height: 100vh;
  color: $text-color;
  #left
  {
    display: flex;
    width: 50vw;
    height: calc(100% - 50px);
    background-color: $main-color;
    padding-top: 50px;
  }

  #triangle
  {
    position: absolute;
    top: 0;
    left: 50vw;
    z-index: 1000;
    width: 0;
    height: 0;
    border-top: 100vh solid $main-color;
    border-right: 5.5vw solid transparent;
  }
}

nav
{
  position: absolute;
  bottom: 10px;
  right: 51vw;
  display: flex;
}

footer
{
  position: absolute;
  bottom: 8px;
  right: 10px;
  font-size: 60%;
  color: rgb(140, 140, 140);
  font-family: Arial, Helvetica, sans-serif;
}

.disable-selection {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


.blink
{
	-webkit-animation: blink-text 1500ms linear infinite;
	-moz-animation: blink-text 1500ms linear infinite;
	-ms-animation: blink-text 1500ms linear infinite;
	-o-animation: blink-text 1500ms linear infinite;
	 animation: blink-text 1500ms linear infinite;
}
@-webkit-keyframes blink-text
{
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink-text
{
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink-text
{
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink-text
{
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink-text
{
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
