.buttons {
  box-shadow: 0px 0px 0px 2px #101010;
  background:linear-gradient(to bottom, #434343 5%, #202020 100%);
  background-color:#202020;
  border-radius:42px;
  border:1px solid #051c06;
  display:inline-block;
  cursor:pointer;
  color:#00ff09;
  font-family:Arial;
  font-size:40px;
  padding:12px 17px;
  margin: 10px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #005700;
}
.buttons:hover {
  background:linear-gradient(to bottom, #202020 5%, #434343 100%);
  background-color:#202020;
}
.buttons:active {
  position:relative;
  top:1px;
}
