<div id="content" *ngIf="page==0">
  <pre>
    ##   ##  #######  ##        ####     ####   ##   ##  #######
    ##   ##  ##       ##       ##  ##  ##   ##  #######  ##
    ##   ##  ##       ##      ##       ##   ##  #######  ##
    ## # ##  ######   ##      ##       ##   ##  ## # ##  ######
    #######  ##       ##      ##   ##  ##   ##  ##   ##  ##
    #######  ##       ###     ##  ##   ##   ##  ##   ##  ##
    ##   ##  #######  ######   ####     #####   ##   ##  #######
  </pre>
</div>
<div id="content" *ngIf="page==2">
  <app-passwd-gen></app-passwd-gen>
</div>

Page {{page}}
