#right
{
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1450px)
{
  #right
  {
    position: unset;
    width: 100vw;
    height: 50vh;
  }

}
