<div *ngIf="page==0" id="right" style="background-image: url(/assets/images/hacker.jpg);"></div>
<div *ngIf="page==1" id="right" style="background-image: url(/assets/images/wstep.jpg);"></div>
<div *ngIf="page==2" id="right" style="background-image: url(/assets/images/hasla.jpg);"></div>
<div *ngIf="page==3" id="right" style="background-image: url(/assets/images/hasa.png);"></div>
<div *ngIf="page==4" id="right" style="background-image: url(/assets/images/password.png);"></div>
<div *ngIf="page==5" id="right" style="background-image: url(/assets/images/lock.png);"></div>
<div *ngIf="page==6" id="right" style="background-image: url(/assets/images/menager.PNG);"></div>
<div *ngIf="page==7" id="right" style="background-image: url(/assets/images/two-step-authentication.png);"></div>
<div *ngIf="page==8" id="right" style="background-image: url(/assets/images/hasla2.jpg);"></div>
<div *ngIf="page==9" id="right" style="background-image: url(/assets/images/wiruski.jpg);"></div>
<div *ngIf="page==10" id="right" style="background-image: url(/assets/images/Effective_Virus.png);"></div>
<div *ngIf="page==11" id="right" style="background-image: url(/assets/images/antywirus.jpg);"></div>
<div *ngIf="page==12" id="right" style="background-image: url(/assets/images/phishing.png);"></div>
<div *ngIf="page==13" id="right" style="background-image: url(/assets/images/How-to-secure.png);"></div>
