$text-color: #0CEC00;

.passgenmain
{
  border: 1px solid $text-color;
  padding: 32px;
  margin: 20px;
  border-radius: 10px;
  width: 420px;
  font-size: 1.4rem;
  #buttons
  {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 20px 0;
  }

  input[type="text"]
  {
    width: 400px !important;
    border-color: $text-color;
    background-color: transparent;
    color: $text-color;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
  }

  input[type="range"]
  {
    width: 410px;
    margin-bottom: 16px;
    accent-color: $text-color;
  }

  input[type="checkbox"]
  {
    accent-color: $text-color;
    caret-color: transparent;
  }

  button
  {
    width: 410px;
    padding: 10px, 40px;
    height: 60px;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: transparent;
    color: $text-color;
    border-color:$text-color;
    border-radius: 10px;
  }

}

@media (max-width: 1450px)
{
  .passgenmain
{
  border: 1px solid $text-color;
  padding: 16px;
  margin: 2px;
  margin-right: 10px;
  border-radius: 5px;
  width: 80vw;
  font-size: 1.4rem;
  #buttons
  {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 20px 0;
  }

  input[type="text"]
  {
    width: 77vw !important;
    border-color: $text-color;
    background-color: transparent;
    color: $text-color;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
  }

  input[type="range"]
  {
    width: 78vw;
    margin-bottom: 16px;
    accent-color: $text-color;
  }

  input[type="checkbox"]
  {
    accent-color: $text-color;
    caret-color: transparent;
  }

  button
  {
    width: 78vw;
    padding: 10px, 40px;
    height: 60px;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: transparent;
    color: $text-color;
    border-color:$text-color;
    border-radius: 10px;
  }

}
}
