$text-color: #0CEC00;

.passgenmain
{
  border: 1px solid $text-color;
  padding: 16px;
  margin: 10px;
  border-radius: 10px;
  width: 220px;
  font-size: 1rem;
  #buttons
  {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 10px 0;
  }

  input[type="text"]
  {
    width: 210px;
    border-color: $text-color;
    background-color: transparent;
    color: $text-color;
    padding: 5px;
    border-radius: 5px;
  }

  input[type="range"]
  {
    width: 210px;
    margin-bottom: 8px;
    accent-color: $text-color;
  }

  input[type="checkbox"]
  {
    accent-color: $text-color;
    caret-color: transparent;
  }

  button
  {
    width: 210px;
    padding: 5px, 20px;
    height: 30px;
    font-weight: bold;
    background-color: transparent;
    color: $text-color;
    border-color:$text-color;
  }

}
